.App {
  font-family: sans-serif;
  text-align: center;
  margin: 125px 0 0 0;
}

h1 {
  color: purple;
}

li {
  list-style: none;
  font-size: 28px;
  margin: 0 auto;
  padding: 10px;
}

ul {
  margin: 0 auto;
  padding: 0;
  border: 1px solid black;
  width: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  min-height: 50px;
  padding: 0 1rem;
  color: grey;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

input:focus,
input:focus-visible {
  border-color: #3898EC;
  outline: none;
}

button {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

button:hover {
  background-color: #5e5dcd;
}

.loader {
  margin: 50px auto;
}

p {
  margin: 20px 20px auto;
}

footer a:visited {
  color: plum;
}