.dark {
    background-color: #292929;
    color: #fff;
}

.dark h1 {
    color: white;
}

.light {
    background-color: #fff;
    color: #292929;
}

.dTheme {
    position: relative;
    left: 43%;
}

.dark .city {
    color: white;
}

.dark .date {
    color: white;
}

.dark .unit {
    color: white;
}